#toFillContent
    ul
        margin 0px
        padding 0px
        height 200px

        li
            margin .5em 0
            padding 1em
            box-shadow 0px 0px 20px -10px #000
            list-style none

    .fillWithNews
        display none

    .menu
        height 50px
        
        li
            float left
            box-shadow none
            width 50%
            padding 0px
            text-align center
            border-bottom 5px solid #2980b9
            color #000
            padding 1em 0
            box-sizing border-box
            cursor pointer

        li.active
            color #48ABEC
            border-bottom 5px solid #48ABEC

header
    position fixed
    height 50px
    width 100%
    background-color rgba(40,40,40,0.9)
    z-index 30
    box-shadow 0px 0px 20px -7px #000

header
    .brand
        background-image url('../images/logotest-01.png')
        background-size contain
        width 100px
        height 50px
        background-position center
        background-repeat no-repeat
        margin-left 1em
        display inline-block
        
    nav
        display inline-block

        ul
            margin 0px

            li
                float left
                list-style none
                color #ecf0f1
                line-height 50px
                padding 0 1em
                cursor pointer

            li.active
                border-bottom 2px solid #ecf0f1

    .showTweets
        position absolute
        height 50px
        width 50px
        display inline-block
        right 0px
        cursor pointer

        span
            height 2px
            width 15px
            background-color #fff
            display block
            position absolute
            right 0px
            top 24px

        span:before
            height 2px
            width 15px
            background-color #fff
            display block
            position absolute
            right 0px
            top 5px
            content ' '

        span:after
            height 2px
            width 15px
            background-color #fff
            display block
            position absolute
            right 0px

            bottom 5px
            content ' '

section
    position absolute
    z-index 29
    right 0px
    height 100%
    width 300px
    top 0px
    background-color rgba(255, 255, 255, .9)
    transition .25s
    box-shadow: 0px 0px 20px -7px #000

    .rightMenu

        margin-top 70px
        padding 0px

        li
            float left
            list-style none
            padding 1em 0
            text-align center
            width 50%
            color #444
            cursor pointer
            transition border .25s

        li.active
            border-bottom 2px solid #444
            transition border .25s

    .allTweets
        margin-top 10em
        height calc(100% - 10em)
        overflow auto
        margin-bottom 0
        padding 0

        li
            list-style none
            padding 1em 2em

    #instafeed
        position absolute
        top 135px
        overflow auto
        height calc(100% - 135px)
        display none

section.off
    top -100%
    transition top .25s ease
